<div class="root">
  <header>
    <div class="container">
      <a href="/"><h1>BookStacker</h1></a>
      <nav>
        <div><span>Group5@gmail.com</span><button>Log out</button></div>
      </nav>
    </div>
  </header>
  </div>
  